<div th:replace="~{fragments/aboveMain.html}"></div>


<h1>Save Review</h1>


<div>

<form th:action="@{/review/save}" th:object="${review}" method="POST">

	<input type="hidden" th:field="*{id}" />
	<input type="text" th:field="*{description}" placeholder="description">
	<input type="number" th:field="*{stars}" placeholder="description" min="1" max="5">

	<input type="hidden" th:field="*{date}" />
	<input type="hidden" th:field="*{user}" />
	<input type="hidden" th:field="*{business}" />


	<button type="submit">Save</button>
</form>

</div>

<div th:replace="~{fragments/belowMain.html}"></div>