<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>

<table>
	<thead>
		<tr> 
			<th>Name</th>
			<th>Description</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="business : ${businesses}"> 
			<td th:text="${business.name}"/>
			<td th:text="${business.description}"/>
			<td th:text="${business.date}"/>

			<td>  
				<a th:href="@{/business/update(businessId=${business.id})}">
					Update
				</a>	
				<a th:href="@{/business/delete(businessId=${business.id})}">
					Delete
				</a>	
				
			</td>

		</tr>	
	</tbody>
</table>
<br><br>

</body>
</html>