<div th:replace="~{fragments/aboveMain.html}"></div>


<table class="table table-striped">
	<thead>
		<tr> 
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Date (YYYY-MM-DD)</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="business : ${businesses}"> 
			<th scope="row"><a th:text="${business.name}" th:href="@{/business/view(businessId=${business.id})}"></a></th>
			<td th:text="${business.description}"/>
			<td th:text="${business.date}"/>

			<td>  
				<a th:href="@{/business/update(businessId=${business.id})}">
					Update
				</a>	
				|	
				<a th:href="@{/business/delete(businessId=${business.id})}">
					Delete
				</a>	
				
			</td>

		</tr>	
	</tbody>
</table>
<br><br>

<div th:replace="~{fragments/belowMain.html}"></div>
