<div th:replace="~{fragments/aboveMain.html}"></div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
		<div class="jumbotron">
		  <h1 class="display-4">Welp ¯\_(ツ)_/¯</h1>
		  <p class="lead">Had a bad experience? Welp at least know you can complain about it here</p>
		  <p>Complain about it and it's likely your next visit will be better. Remember a closed mouth doesn't get fed.</p>
		  <p>If you're a business owner Welp then it's better to read complaints than to hear them.</p>
		  <hr class="my-4">
		  <p>Welp, go for it.</p>
		</div>
    </div>
    <div class="col">
    </div>
  </div>
</div>


<div th:replace="~{fragments/belowMain.html}"></div>