<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>

<h1>Welcome!</h1>
<div>
	<h3><a th:href="@{/register}">Register</a></h3>
	<h3><a th:href="@{/login}">Login</a></h3>
	<br>
	<h2>Business</h2>
	<h3><a th:href="@{/business/create}">Create</a></h3>
</div>
</body>
</html>